<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ISearchResultMapper">

	<select id="getBasicList" resultType="BasicInfoDTO" parameterType="BasicInfoDTO">
		SELECT *
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			   	 AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE#{age_type}
			     AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} AND PROGRESS_STATE ="E"
	</select>
	<select id="getResidenceCountList" resultType="BasicInfoDTO" parameterType="BasicInfoDTO">
		SELECT RESIDENCE, COUNT(RESIDENCE) as count 
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			   	 AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE#{age_type}
			     AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} AND PROGRESS_STATE ="E"
		 GROUP BY RESIDENCE;
	</select>
	
	<select id="getResidenceSumList" resultType="BasicInfoDTO" parameterType="BasicInfoDTO">
		SELECT RESIDENCE , SUM(PART_MAN_CNT+ PART_WOMAN_CNT +LEAD_MAN_CNT + LEAD_WOMAN_CNT) as sum
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			    AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE#{age_type}
			    AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} AND PROGRESS_STATE ="E"
		 GROUP BY RESIDENCE;
	</select>
	
	<select id="getAgeCountList" resultType="BasicInfoDTO" parameterType="BasicInfoDTO">
		SELECT AGE_TYPE, COUNT(AGE_TYPE) as count 
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			    AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE#{age_type}
			    AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} AND PROGRESS_STATE ="E"
		GROUP BY AGE_TYPE;
	</select>
	<select id="getBizCountList" resultType="BasicInfoDTO" parameterType="BasicInfoDTO">
		SELECT BIZ_PURPOSE, COUNT(BIZ_PURPOSE) as count 
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			    AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE#{age_type}
			    AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} AND PROGRESS_STATE ="E"
		GROUP BY BIZ_PURPOSE; 
	</select>
	<select id="getPartCountList" resultType="BasicInfoDTO" parameterType="BasicInfoDTO">
		SELECT PART_TYPE, COUNT(PART_TYPE) as count 
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			    AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE#{age_type}
			    AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} AND PROGRESS_STATE ="E"
		GROUP BY PART_TYPE;
	</select>
	
	<select id="getIncomeCountList" resultType="BasicInfoDTO" parameterType="BasicInfoDTO">
		SELECT INCOME_TYPE, COUNT(INCOME_TYPE) as count 
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			    AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE#{age_type}
			    AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} AND PROGRESS_STATE ="E"
		GROUP BY INCOME_TYPE;
	</select>
	
	<select id="getAgeSumList" resultType="BasicInfoDTO" parameterType="BasicInfoDTO">
		SELECT AGE_TYPE, SUM(PART_MAN_CNT+ PART_WOMAN_CNT +LEAD_MAN_CNT + LEAD_WOMAN_CNT) as sum 
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			    AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE#{age_type}
			    AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} AND PROGRESS_STATE ="E"
		GROUP BY AGE_TYPE;
	</select>
	
	<select id="getPartSumList" resultType="BasicInfoDTO" parameterType="BasicInfoDTO">
		SELECT PART_TYPE, SUM(PART_MAN_CNT+ PART_WOMAN_CNT +LEAD_MAN_CNT + LEAD_WOMAN_CNT) as sum 
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			    AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE#{age_type}
			    AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} AND PROGRESS_STATE ="E"
		GROUP BY PART_TYPE;
	</select>
	
	<select id="getBizSumList" resultType="BasicInfoDTO" parameterType="BasicInfoDTO">
		SELECT BIZ_PURPOSE, SUM(PART_MAN_CNT+ PART_WOMAN_CNT +LEAD_MAN_CNT + LEAD_WOMAN_CNT) as sum 
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			    AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE#{age_type}
			    AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} AND PROGRESS_STATE ="E"
		GROUP BY BIZ_PURPOSE;
	</select>
	
	<select id="getIncomeSumList" resultType="BasicInfoDTO" parameterType="BasicInfoDTO">
		SELECT INCOME_TYPE, SUM(PART_MAN_CNT+ PART_WOMAN_CNT +LEAD_MAN_CNT + LEAD_WOMAN_CNT) as sum 
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			    AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE #{age_type}
			    AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} AND PROGRESS_STATE ="E"
		GROUP BY INCOME_TYPE;
	</select>
	
	<select id="getProAvgList" parameterType="BasicInfoDTO" resultType="SearchDTO">
		SELECT BUNYA ,IFNULL(ROUND( AVG(SCORE1+SCORE2+SCORE3)/3,2),0) as program,
			IFNULL(ROUND( AVG(SCORE4+SCORE5+SCORE6)/3,2),0)  as content,
			IFNULL(ROUND( AVG(SCORE7+SCORE8+SCORE9)/3,2),0)  as effect,	
			IFNULL(ROUND( AVG(SCORE1+SCORE2+SCORE3+SCORE4+SCORE5+SCORE6+SCORE7+SCORE8+SCORE9)/9,2),0)  as avg1
		FROM PROGRAM_SATISFACTION ps
		LEFT JOIN BASIC_INFO bi
   			 on(ps.OPENDAY = bi.OPENDAY AND ps.AGENCY = bi.AGENCY)
			 WHERE bi.AGENCY LIKE #{agency} AND bi.OM LIKE #{om} AND bi.DAYS_TO_STAY LIKE #{days_to_stay}  AND bi.RESIDENCE LIKE #{residence}
			    AND bi.SUPPORT LIKE #{support} AND bi.BIZ_PURPOSE LIKE #{biz_purpose} AND bi.PART_TYPE LIKE #{part_type} AND bi.AGE_TYPE LIKE #{age_type}
			    AND bi.INCOME_TYPE LIKE #{income_type} AND bi.SERVICE_TYPE LIKE #{service_type} 
		GROUP BY BUNYA;
	</select>
	
	<select id="getProCountList" parameterType="BasicInfoDTO" resultType="ProgramOperationDTO">
		SELECT 
		PROGRAM_IN_OUT as PROGRAM_IN_OUT2
		FROM BASIC_INFO
		WHERE AGENCY LIKE #{agency} AND OM LIKE #{om} AND DAYS_TO_STAY LIKE #{days_to_stay}  AND RESIDENCE LIKE #{residence}
			    AND SUPPORT LIKE #{support} AND BIZ_PURPOSE LIKE #{biz_purpose} AND PART_TYPE LIKE #{part_type} AND AGE_TYPE LIKE#{age_type}
			    AND INCOME_TYPE LIKE #{income_type} AND SERVICE_TYPE LIKE #{service_type} 
	</select>	
	
	<select id="getSerEnvList" parameterType="BasicInfoDTO" resultType="SearchDTO">
		SELECT 
		IFNULL(ROUND(AVG(nullif(score1,0)),2),0) as score1,    IFNULL(ROUND(AVG(nullif(score2,0)),2),0) as score2,   IFNULL(ROUND(AVG(nullif(score3,0)),2),0) as score3,IFNULL(ROUND(AVG(nullif(score4,0)),2),0) as score4, IFNULL(ROUND(AVG(nullif(score5,0)),2),0) as score5,
		IFNULL(ROUND(AVG(nullif(score6,0)),2),0) as score6,    IFNULL(ROUND(AVG(nullif(score7,0)),2),0) as score7,   IFNULL(ROUND(AVG(nullif(score8,0)),2),0) as score8,IFNULL(ROUND(AVG(nullif(score9,0)),2),0) as score9, IFNULL(ROUND(AVG(nullif(score10,0)),2),0) as score10,
		IFNULL(ROUND(AVG(nullif(score11,0)),2),0) as score11,    IFNULL(ROUND(AVG(nullif(score12,0)),2),0) as score12,   IFNULL(ROUND(AVG(nullif(score13,0)),2),0) as score13,IFNULL(ROUND(AVG(nullif(score14,0)),2),0) as score14, IFNULL(ROUND(AVG(nullif(score15,0)),2),0) as score15,
		IFNULL(ROUND(AVG(nullif(score16,0)),2),0) as score16
		FROM SERVICE_ENV_SATISFACTION se
		LEFT JOIN BASIC_INFO bi
		on(se.OPENDAY = bi.OPENDAY AND se.AGENCY = bi.AGENCY)
		WHERE bi.AGENCY LIKE #{agency} AND bi.OM LIKE #{om} AND bi.DAYS_TO_STAY LIKE #{days_to_stay}  AND bi.RESIDENCE LIKE #{residence}
			    AND bi.SUPPORT LIKE #{support} AND bi.BIZ_PURPOSE LIKE #{biz_purpose} AND bi.PART_TYPE LIKE #{part_type} AND bi.AGE_TYPE LIKE #{age_type}
			    AND bi.INCOME_TYPE LIKE #{income_type} AND bi.SERVICE_TYPE LIKE #{service_type}
	</select>
		
	<select id="getProhealingList" parameterType="BasicInfoDTO" resultType="SearchDTO">
		SELECT 
		IFNULL(SUM(SCORE1+  SCORE2+  SCORE3+  SCORE4+  SCORE5+  SCORE6+  SCORE7+  SCORE8+  SCORE9+  SCORE10+
			SCORE11+ SCORE12+ SCORE13+ SCORE14+ SCORE15+ SCORE16+ SCORE17+ SCORE18+ SCORE19+ SCORE20+
			SCORE21+ SCORE22),0) as sum1,
			
		IFNULL(ROUND((AVG(nullif(SCORE1,0))+ AVG(nullif(SCORE2,0))+ AVG(nullif(SCORE3,0))+ AVG(nullif(SCORE4,0))+ AVG(nullif(SCORE5,0))+ AVG(nullif(SCORE6,0))+ AVG(nullif(SCORE7,0))+ 
				AVG(nullif(SCORE8,0))+ AVG(nullif(SCORE9,0))+ AVG(nullif(SCORE10,0))+AVG(nullif(SCORE11,0))+ AVG(nullif(SCORE12,0))+ AVG(nullif(SCORE13,0))
				+ AVG(nullif(SCORE14,0))+ AVG(nullif(SCORE15,0))+ AVG(nullif(SCORE16,0))+ AVG(nullif(SCORE17,0))+ AVG(nullif(SCORE18,0))+ AVG(nullif(SCORE19,0))+ AVG(nullif(SCORE20,0))
				+ AVG(nullif(SCORE21,0))+ AVG(nullif(SCORE22,0)))/22,2),0) as avg1
		FROM HEALING_SERVICE se
		LEFT JOIN BASIC_INFO bi
		on(se.OPENDAY = bi.OPENDAY AND se.AGENCY = bi.AGENCY AND PV ="사전")
		WHERE bi.AGENCY LIKE #{agency} AND bi.OM LIKE #{om} AND bi.DAYS_TO_STAY LIKE #{days_to_stay}  AND bi.RESIDENCE LIKE #{residence}
			    AND bi.SUPPORT LIKE #{support} AND bi.BIZ_PURPOSE LIKE #{biz_purpose} AND bi.PART_TYPE LIKE #{part_type} AND bi.AGE_TYPE LIKE #{age_type}
			    AND bi.INCOME_TYPE LIKE #{income_type} AND bi.SERVICE_TYPE LIKE #{service_type}  
	</select>	 
	
	
	<select id="getAfthealingList" parameterType="BasicInfoDTO" resultType="SearchDTO">
		SELECT 
		IFNULL(SUM(SCORE1+  SCORE2+  SCORE3+  SCORE4+  SCORE5+  SCORE6+  SCORE7+  SCORE8+  SCORE9+  SCORE10+
			SCORE11+ SCORE12+ SCORE13+ SCORE14+ SCORE15+ SCORE16+ SCORE17+ SCORE18+ SCORE19+ SCORE20+
			SCORE21+ SCORE22),0) as sum1,
			
		IFNULL(ROUND(AVG(SCORE1+  SCORE2+  SCORE3+  SCORE4+  SCORE5+  SCORE6+  SCORE7+  SCORE8+  SCORE9+  SCORE10+
				  SCORE11+ SCORE12+ SCORE13+ SCORE14+ SCORE15+ SCORE16+ SCORE17+ SCORE18+ SCORE19+ SCORE20+
				  SCORE21+ SCORE22)/22,2),0) as avg1
		FROM HEALING_SERVICE se
		LEFT JOIN BASIC_INFO bi
		on(se.OPENDAY = bi.OPENDAY AND se.AGENCY = bi.AGENCY AND PV ="사후")
		WHERE bi.AGENCY LIKE #{agency} AND bi.OM LIKE #{om} AND bi.DAYS_TO_STAY LIKE #{days_to_stay}  AND bi.RESIDENCE LIKE #{residence}
			    AND bi.SUPPORT LIKE #{support} AND bi.BIZ_PURPOSE LIKE #{biz_purpose} AND bi.PART_TYPE LIKE #{part_type} AND bi.AGE_TYPE LIKE #{age_type}
			    AND bi.INCOME_TYPE LIKE #{income_type} AND bi.SERVICE_TYPE LIKE #{service_type}  
	</select>	
	
	<select id="getProCounselList" parameterType="BasicInfoDTO" resultType="SearchDTO">
		SELECT 
		IFNULL(SUM(SCORE1+ SCORE2+ SCORE3+ SCORE4+ SCORE5+ SCORE6+ SCORE7+ SCORE8+ SCORE9+ SCORE10+
			SCORE11+ SCORE12+ SCORE13+ SCORE14+ SCORE15+ SCORE16+ SCORE17+ SCORE18+ SCORE18
			+ SCORE19+ SCORE20+ SCORE21+ SCORE22+ SCORE23+ SCORE24+ SCORE25+ SCORE26+ SCORE27
			+ SCORE28+ SCORE29+ SCORE30+ SCORE31+ SCORE32+ SCORE33+ SCORE34+ SCORE35+ SCORE36+ SCORE37
			+ SCORE38+ SCORE39+ SCORE40+ SCORE41+ SCORE42+ SCORE43+ SCORE44+ SCORE45+ SCORE46+ SCORE47
			+ SCORE48+ SCORE49+ SCORE50+ SCORE51+ SCORE52+ SCORE53+ SCORE54+ SCORE55+ SCORE56+ SCORE57
			+ SCORE58+ SCORE59+ SCORE60+ SCORE61+ SCORE62),0) as sum1,
		IFNULL(ROUND(AVG(SCORE1+ SCORE2+ SCORE3+ SCORE4+ SCORE5+ SCORE6+ SCORE7+ SCORE8+ SCORE9+ SCORE10+
			SCORE11+ SCORE12+ SCORE13+ SCORE14+ SCORE15+ SCORE16+ SCORE17+ SCORE18+ SCORE18
			+ SCORE19+ SCORE20+ SCORE21+ SCORE22+ SCORE23+ SCORE24+ SCORE25+ SCORE26+ SCORE27
			+ SCORE28+ SCORE29+ SCORE30+ SCORE31+ SCORE32+ SCORE33+ SCORE34+ SCORE35+ SCORE36+ SCORE37
			+ SCORE38+ SCORE39+ SCORE40+ SCORE41+ SCORE42+ SCORE43+ SCORE44+ SCORE45+ SCORE46+ SCORE47
			+ SCORE48+ SCORE49+ SCORE50+ SCORE51+ SCORE52+ SCORE53+ SCORE54+ SCORE55+ SCORE56+ SCORE57
			+ SCORE58+ SCORE59+ SCORE60+ SCORE61+ SCORE62)/62,2),0) as avg1 
		FROM COUNSEL_SERVICE se
		LEFT JOIN BASIC_INFO bi
		on(se.OPENDAY = bi.OPENDAY AND se.AGENCY = bi.AGENCY AND PV ="사전")
		WHERE bi.AGENCY LIKE #{agency} AND bi.OM LIKE #{om} AND bi.DAYS_TO_STAY LIKE #{days_to_stay}  AND bi.RESIDENCE LIKE #{residence}
			    AND bi.SUPPORT LIKE #{support} AND bi.BIZ_PURPOSE LIKE #{biz_purpose} AND bi.PART_TYPE LIKE #{part_type} AND bi.AGE_TYPE LIKE #{age_type}
			    AND bi.INCOME_TYPE LIKE #{income_type} AND bi.SERVICE_TYPE LIKE #{service_type}  
	</select>	
	<select id="getAftCounselList" parameterType="BasicInfoDTO" resultType="SearchDTO">
		SELECT 
		IFNULL(SUM(SCORE1+ SCORE2+ SCORE3+ SCORE4+ SCORE5+ SCORE6+ SCORE7+ SCORE8+ SCORE9+ SCORE10+
			SCORE11+ SCORE12+ SCORE13+ SCORE14+ SCORE15+ SCORE16+ SCORE17+ SCORE18+ SCORE18
			+ SCORE19+ SCORE20+ SCORE21+ SCORE22+ SCORE23+ SCORE24+ SCORE25+ SCORE26+ SCORE27
			+ SCORE28+ SCORE29+ SCORE30+ SCORE31+ SCORE32+ SCORE33+ SCORE34+ SCORE35+ SCORE36+ SCORE37
			+ SCORE38+ SCORE39+ SCORE40+ SCORE41+ SCORE42+ SCORE43+ SCORE44+ SCORE45+ SCORE46+ SCORE47
			+ SCORE48+ SCORE49+ SCORE50+ SCORE51+ SCORE52+ SCORE53+ SCORE54+ SCORE55+ SCORE56+ SCORE57
			+ SCORE58+ SCORE59+ SCORE60+ SCORE61+ SCORE62),0) as sum1,
		IFNULL(ROUND(AVG(SCORE1+ SCORE2+ SCORE3+ SCORE4+ SCORE5+ SCORE6+ SCORE7+ SCORE8+ SCORE9+ SCORE10+
			SCORE11+ SCORE12+ SCORE13+ SCORE14+ SCORE15+ SCORE16+ SCORE17+ SCORE18+ SCORE18
			+ SCORE19+ SCORE20+ SCORE21+ SCORE22+ SCORE23+ SCORE24+ SCORE25+ SCORE26+ SCORE27
			+ SCORE28+ SCORE29+ SCORE30+ SCORE31+ SCORE32+ SCORE33+ SCORE34+ SCORE35+ SCORE36+ SCORE37
			+ SCORE38+ SCORE39+ SCORE40+ SCORE41+ SCORE42+ SCORE43+ SCORE44+ SCORE45+ SCORE46+ SCORE47
			+ SCORE48+ SCORE49+ SCORE50+ SCORE51+ SCORE52+ SCORE53+ SCORE54+ SCORE55+ SCORE56+ SCORE57
			+ SCORE58+ SCORE59+ SCORE60+ SCORE61+ SCORE62)/62,2),0) as avg1 
		FROM COUNSEL_SERVICE se
		LEFT JOIN BASIC_INFO bi
		on(se.OPENDAY = bi.OPENDAY AND se.AGENCY = bi.AGENCY AND PV ="사후")
		WHERE bi.AGENCY LIKE #{agency} AND bi.OM LIKE #{om} AND bi.DAYS_TO_STAY LIKE #{days_to_stay}  AND bi.RESIDENCE LIKE #{residence}
			    AND bi.SUPPORT LIKE #{support} AND bi.BIZ_PURPOSE LIKE #{biz_purpose} AND bi.PART_TYPE LIKE #{part_type} AND bi.AGE_TYPE LIKE #{age_type}
			    AND bi.INCOME_TYPE LIKE #{income_type} AND bi.SERVICE_TYPE LIKE #{service_type}  
	</select>
	
	<select id="getProPreventList" parameterType="BasicInfoDTO" resultType="SearchDTO">
		SELECT 
		IFNULL(SUM(SCORE1+ SCORE2+ SCORE3+ SCORE4+ SCORE5+ SCORE6+ SCORE7+ SCORE8+ SCORE9+ SCORE10+
			SCORE11+ SCORE12+ SCORE13+ SCORE14+ SCORE15+ SCORE16+ SCORE17+ SCORE18),0) as sum1,
			
		IFNULL(ROUND((AVG(nullif(SCORE1,0))+ AVG(nullif(SCORE2,0))+ AVG(nullif(SCORE3,0))+ AVG(nullif(SCORE4,0))+ AVG(nullif(SCORE5,0))+ AVG(nullif(SCORE6,0))+ AVG(nullif(SCORE7,0))+ 
				AVG(nullif(SCORE8,0))+ AVG(nullif(SCORE9,0))+ AVG(nullif(SCORE10,0))+AVG(nullif(SCORE11,0))+ AVG(nullif(SCORE12,0))+ AVG(nullif(SCORE13,0))
				+ AVG(nullif(SCORE14,0))+ AVG(nullif(SCORE15,0))+ AVG(nullif(SCORE16,0))+ AVG(nullif(SCORE17,0))+ AVG(nullif(SCORE18,0))+ AVG(nullif(SCORE19,0))+ AVG(nullif(SCORE20,0)))/18,2),0) as avg1
		FROM PREVENT_SERVICE se
		LEFT JOIN BASIC_INFO bi
		on(se.OPENDAY = bi.OPENDAY AND se.AGENCY = bi.AGENCY AND PV ="사전")
		WHERE bi.AGENCY LIKE #{agency} AND bi.OM LIKE #{om} AND bi.DAYS_TO_STAY LIKE #{days_to_stay}  AND bi.RESIDENCE LIKE #{residence}
			    AND bi.SUPPORT LIKE #{support} AND bi.BIZ_PURPOSE LIKE #{biz_purpose} AND bi.PART_TYPE LIKE #{part_type} AND bi.AGE_TYPE LIKE #{age_type}
			    AND bi.INCOME_TYPE LIKE #{income_type} AND bi.SERVICE_TYPE LIKE #{service_type} 
	</select>	
	
	<select id="getAftPreventList" parameterType="BasicInfoDTO" resultType="SearchDTO">
		SELECT 
		IFNULL(SUM(SCORE1+ SCORE2+ SCORE3+ SCORE4+ SCORE5+ SCORE6+ SCORE7+ SCORE8+ SCORE9+ SCORE10+
			SCORE11+ SCORE12+ SCORE13+ SCORE14+ SCORE15+ SCORE16+ SCORE17+ SCORE18),0) as sum1,
			
		IFNULL(ROUND((AVG(nullif(SCORE1,0))+ AVG(nullif(SCORE2,0))+ AVG(nullif(SCORE3,0))+ AVG(nullif(SCORE4,0))+ AVG(nullif(SCORE5,0))+ AVG(nullif(SCORE6,0))+ AVG(nullif(SCORE7,0))+ 
				AVG(nullif(SCORE8,0))+ AVG(nullif(SCORE9,0))+ AVG(nullif(SCORE10,0))+AVG(nullif(SCORE11,0))+ AVG(nullif(SCORE12,0))+ AVG(nullif(SCORE13,0))
				+ AVG(nullif(SCORE14,0))+ AVG(nullif(SCORE15,0))+ AVG(nullif(SCORE16,0))+ AVG(nullif(SCORE17,0))+ AVG(nullif(SCORE18,0))+ AVG(nullif(SCORE19,0))+ AVG(nullif(SCORE20,0)))/18,2),0) as avg1
		FROM PREVENT_SERVICE se
		LEFT JOIN BASIC_INFO bi
		on(se.OPENDAY = bi.OPENDAY AND se.AGENCY = bi.AGENCY AND PV ="사후")
		WHERE bi.AGENCY LIKE #{agency} AND bi.OM LIKE #{om} AND bi.DAYS_TO_STAY LIKE #{days_to_stay}  AND bi.RESIDENCE LIKE #{residence}
			    AND bi.SUPPORT LIKE #{support} AND bi.BIZ_PURPOSE LIKE #{biz_purpose} AND bi.PART_TYPE LIKE #{part_type} AND bi.AGE_TYPE LIKE #{age_type}
			    AND bi.INCOME_TYPE LIKE #{income_type} AND bi.SERVICE_TYPE LIKE #{service_type}  
	</select>	
	
	<select id="getPreHrvList" parameterType="BasicInfoDTO" resultType="SearchDTO">
		SELECT  IFNULL(ROUND(AVG(nullif(num1,0)),2),0) as score1, IFNULL(ROUND(AVG(nullif(num2,0)),2),0) as score2,  IFNULL(ROUND(AVG(nullif(num3,0)),2),0) as score3,
			    IFNULL(ROUND(AVG(nullif(num4,0)),2),0) as score4,  IFNULL(ROUND(AVG(nullif(num5,0)),2),0) as score5
		FROM HRV_SERVICE se
		LEFT JOIN BASIC_INFO bi
		on(se.DATE = bi.OPENDAY AND se.AGENCY = bi.AGENCY AND PV ="사전")
		WHERE bi.AGENCY LIKE #{agency} AND bi.OM LIKE #{om} AND bi.DAYS_TO_STAY LIKE #{days_to_stay}  AND bi.RESIDENCE LIKE #{residence}
			    AND bi.SUPPORT LIKE #{support} AND bi.BIZ_PURPOSE LIKE #{biz_purpose} AND bi.PART_TYPE LIKE #{part_type} AND bi.AGE_TYPE LIKE #{age_type}
			    AND bi.INCOME_TYPE LIKE #{income_type} AND bi.SERVICE_TYPE LIKE #{service_type}  
	</select>	
	<select id="getAftHrvList" parameterType="BasicInfoDTO" resultType="SearchDTO">
		SELECT  IFNULL(ROUND(AVG(nullif(num1,0)),2),0) as score1, IFNULL(ROUND(AVG(nullif(num2,0)),2),0) as score2,  IFNULL(ROUND(AVG(nullif(num3,0)),2),0) as score3,
			    IFNULL(ROUND(AVG(nullif(num4,0)),2),0) as score4,  IFNULL(ROUND(AVG(nullif(num5,0)),2),0) as score5
		FROM HRV_SERVICE se
		LEFT JOIN BASIC_INFO bi
		on(se.DATE = bi.OPENDAY AND se.AGENCY = bi.AGENCY AND PV ="사후")
		WHERE bi.AGENCY LIKE #{agency} AND bi.OM LIKE #{om} AND bi.DAYS_TO_STAY LIKE #{days_to_stay}  AND bi.RESIDENCE LIKE #{residence}
			    AND bi.SUPPORT LIKE #{support} AND bi.BIZ_PURPOSE LIKE #{biz_purpose} AND bi.PART_TYPE LIKE #{part_type} AND bi.AGE_TYPE LIKE #{age_type}
			    AND bi.INCOME_TYPE LIKE #{income_type} AND bi.SERVICE_TYPE LIKE #{service_type}  
	</select>	
	
</mapper>


